<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song List</title>
</head>
<body>
    <h1>Song List</h1>
    <ul>
        {% for song in songs %}
            <li>
                <p>{{song.title}}  by
                   {{song.artist}}
                </p>
                <audio controls>
                    <source src="{{ song.file.url}}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </li>
        {% endfor %}
    </ul>
</body>
</html>